<div>
    <input [(ngModel)]="searchvalue" placeholder="search" type="text"  class="form-control w-50 m-auto bg-transparent">
</div>
<div class="row">
    <div class="col-md-4">
        <div class="">
            <div class="brdr w-25"></div>
                <h4>Welcometo</h4>
                <h1>Recipe</h1>
                <h3>Application</h3>
            <div class="brdr w-100"></div>
        </div>
    </div>
    <div *ngFor="let recipe of recipes|searchPipe:searchvalue" class="m-1 rounded-3">
        <div class="">
            <p-card header={{recipe.name}} subheader="Card Subheader" [style]="{width:'360px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img src="../../../../assets/{{recipe.image}}" alt={{recipe.image}}>
                </ng-template>
                <ng-template pTemplate="footer">
                    <a routerLink="/details/{{recipe.id}}" class="btn btn-primary">Details</a>
                </ng-template>
            </p-card>
            
        </div>
    </div>
</div>